html,body,div,p,a,h3,span,button,input{
    font-family:"Microsoft YaHei";
}
#app{
    min-width: 1100px;
}
.content{
    background-color: #ffffff;
    margin-top: 20px;
    overflow: auto;
}
/*webkit 滚动条宽度设置*/
::-webkit-scrollbar{
    width:0px;
}
.tit{
    height: 44px;
    margin-left: 50px;
    margin-right: 60px;
    background-color: #f4f5f6;
    position: relative;
}
.tit img{
    width: 20px;
    height: 20px;
    position: relative;
    top: 11px;
    left: 13px;
}
.tit span{
    position: relative;
    top: 6px;
    left: 14px;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    font-weight: 500;
    color: #bbbbbb;
}
.infoList{
    height:290px;
    margin-left: 50px;
    margin-right: 60px;
}
.infoList li{
    height: 70px;
    border-bottom: dashed 1px #dbdbdb;

}
.infoList li span{
    position: relative;
    top: 23px;
    left: 3vw;
}
.infoList li button{
    float: right;
    position: relative;
    top: 21px;
    right: 10px;
    width: 75px;
    height: 28px;
    border-radius: 100px;
    border: solid 1px #108ee9;
    color: #108ee9;
    background-color: #ffffff;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    color: #108ee9;
}
.titSp{
    margin-left: 4vw;
}
.titLi{
    font-family: "Microsoft YaHei";
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    color: #222d32;
    display: inline-block;
    width:100px;
}
.titSp{
    font-family: "Microsoft YaHei";
    font-size: 12px;
    text-align: left;
    color: #636363;
}
.infoList a{
    font-family: "Microsoft YaHei";
    font-size: 12px;
    font-weight: 500;
    color: #108ee9;
    float: right;
    position: relative;
    right: 3vw;
    top: 28px;
}
.infoList li button:hover{
    color: #ffffff;
    background-color:#1074bc;
}
.infoList a:hover{
    color: #1074bc;
}