html,body,div,p,a,h3,span,button,input{
    font-family:"Microsoft YaHei";
}
#app{
    min-width: 1200px;
}
/*webkit 滚动条宽度设置*/
::-webkit-scrollbar{
    width:0px;
}
.verifyHead{
    height:47px;
}
.verifyHead span{
    opacity: 0.7;
    font-family: "Microsoft YaHei";
    font-size: 12px;
    text-align: left;
    color: #222d32;
    position: relative;
    top: 18px;
    left:29px;
}
.form_div{
    text-align: center;
    background-color: #ffffff;
}
.form_div ul{
    margin: 0 auto;
    width:400px;
    height:600px;
    position: relative;
    top:60px;
}
.form_div ul li{
    text-align: left;
}
.formTit{
    font-family: "Microsoft YaHei";
    font-size: 14px;
    color: #f00404;
}
.tips-info{
    width:12px;
    height: 12px;
    position: relative;
    top: 2px;
}
.tip-text{
    opacity: 0.3;
    font-family: "Microsoft YaHei";
    font-size: 11px;
    text-align: left;
    color: #000000;
}
.bind-info{
    font-family: "Microsoft YaHei";
    font-size: 11px;
    text-align: left;
    color: #000000;

}
.sure{
    width: 160px;
    height: 36px;
    border-radius: 100px;
    background-color: #108ee9;
    font-family: "Microsoft YaHei";
    color: #ffffff;
    border:none;
}
.verBox .el-input-group__append{
    background-color: #C8C8C8;
    cursor: pointer;
    color:#ffffff;
    width:70px;
    text-align: center;
}
.verBox .el-input-group__append:hover{
    background-color: #9B9B9B;
}
.el-input-group__append{
    padding: 0px;
}
.form_div > ul > li {
    position: relative;
}
.form_div > ul > li > .error {
    position: absolute;
    color: red;
    font-size: 14px;
    left: 102%;
    width: 200px;
}