<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="../css/register.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/agreementModal.css">
    <link rel="stylesheet" href="../plugins/elementUI/elementUi.css">

</head>
   <style>
       .el-input-group__prepend{width:80px;text-align:center;letter-spacing:0;padding:0 10px;}
   </style>
<body>
    <div class="outer" id="app" v-cloak>
        <div class="header">
            <div style="width: 1200px;margin: auto">
                <img class="logo" src="../images/byjfLogo.png"  @click="fsby56()">
                <a class="login" @click.prev>客户注册</a>
                <!--<span style="float: right;margin-top: 22px">
                    <a class="hasNum">已有账号？</a>
                    &lt;!&ndash;<a class="pleaseLogin" style="color: #108ee9;" @click="showLogin()">请登录</a>&ndash;&gt;
                    <div style="display: inline-block;border-left: 1px solid #cccccc;width: 1px;height: 11px;"></div>
                    <a class="toFirstPage" @click="toIndex">首页</a>
                </span>-->

            </div>
        </div>

        <div class="formBox" style="margin-left: 0px;" v-cloak>
            <!--表单-->
            <div style="width: 1200px;height: 532px;background-color: #ffffff;margin: auto;box-shadow: 0 0 11px 0 rgba(0, 0, 0, 0.04);">
                <div class="form_content">

                    <el-input placeholder="请输入手机号码" v-model="phone" autocomplete="off">
                        <template slot="prepend">手&nbsp;机&nbsp;号&nbsp;码</template>
                    </el-input>
                    <P class="errorMsg"><span></span><!--<img class="signSuccess" src="../images/correct.png"/>--></P>

                    <el-input placeholder="请输入登录密码" v-model="pwd" type="password" onpaste="return false" oncontextmenu="return false" oncopy="return false" oncut="return false" autocomplete="off">
                        <template slot="prepend">登&nbsp;录&nbsp;密&nbsp;码</template>
                    </el-input>
                    <P class="errorMsg"><span></span><!--<img class="signSuccess" src="../images/correct.png"/>--></P>

                    <el-input placeholder="请输入确认密码" v-model="confirmPwd" type="password" onpaste="return false" oncontextmenu="return false" oncopy="return false" oncut="return false" autocomplete="off">

                        <template slot="prepend">确&nbsp;认&nbsp;密&nbsp;码</template>
                    </el-input>
                    <P class="errorMsg"><span><img class="infoIcon" src="../images/infoIcon.png"/>6-20个字符，推荐使用大小写字母与数字符号组合</span><!--<img class="signSuccess" src="../images/correct.png"/>--></P>

                    <div class="verBox">
                        <el-input placeholder="请输入手机验证码" v-model="securityCode">
                            <template id="a" slot="prepend"><span style="font-size:12px;webkit-text-size-adjust:none">手机验证码</span></template>
                            <template slot="append" style="background-color: #f8f8f8" ><p @click="sendAuthCode()" style="height: 37px;line-height: 2.7;width: 90px;">{{autoCode}}</p></template>
                        </el-input>
                        <!--<P class="errorMsg"><span></span>&lt;!&ndash;<img class="signSuccess" src="../images/correct.png"/>&ndash;&gt;</P>-->

                    </div>

                    <a style="font-family: PingFangSC;float: left;font-size: 12px;text-align: left; color: #108ee9;margin-top: 10px;" @click.prev="toggleAgreementModal">《百运金服用户注册协议》</a>
                    <div class="agreementModalBG" v-show="showAgreementModal">
                        <div class="agreementModal">
                            <div class="agreeHeader">
                                <span class="ahTi">百运网运条服务协议</span>
                                <span class="ahClose" @click="toggleAgreementModal">&times;</span>
                            </div>
                            <div class="agreeContent">
                                <div class="centerCont">
                                    <div>
                                        <p>本协议是指符合相应条件并可以使用信用消费服务的百运金服注册会员（以下简称“用户”）与深圳市百运科技有限公司之间就在百运网下单发货，并依据本协议使用百运金服提供信用消费服务相关事宜所订立的契约。</p>
                                        <p><b>在确认签署本协议之前，请用户务必仔细阅读本协议所有条款，特别是以粗体或下划线标注的内容。用户勾选“我已阅读并同意”点击“立即开通”按钮后，本协议即构成对双方具有约束力的法律文件。一旦用户签署本协议，即意味着用户已充分理解本协议所有条款的含义及相应的法律后果，同意与本协议其他方以数据电文形式订立本协议并接受本协议约束。</b></p>
                                    </div>
                                    <div>
                                        <p><b>申请使用“运条服务”，用户需要在接受本协议前明确并同意对于百运金服进行如下授权：</b></p>
                                        <p><b>1、根据百运金服对用户的信用信息的查询需求，用户同意授权百运金服及该公司委托的第三方通过合法渠道了解、咨询、审查用户的资信状况、财务状况和其他与评定用户信用消费额度及付款能力有关的信息，并可以在百运金服运条服务整个过程中及在追偿逾期欠款时，索取、留存和使用该信息以及用户在百运金服所提供的全部资料。有效期至用户就实际与百运金服签订的《百运金服运条服务协议》规定的双方权利义务完全终止之日止。</b></p>
                                        <p><b>2、用户的账户、密码是百运金服识别用户身份及指令的唯一标志，所有使用用户的账户、密码发送至百运金服的使用“运条服务”或“付款”或其他相关指令构成用户不可撤销的授权指示，百运金服对于依照该指示进行的操作行为及其结果不承担任何责任。</b></p>
                                        <p>用户接受本协议即表明了解和确认百运金服制定的关于使用运条服务的所有规定，接受百运金服制订的全部收费项目和条件，以及百运金服公布的任何与运条服务有关的条款约束并遵守本协议及其之后修订版本。</p>
                                    </div>
                                    <div>
                                        <p>第一条 术语定义</p>
                                        <p>除非本协议正文另有明确所指，在本协议中所用下列术语定义如下：</p>
                                        <p>1、平台规则：指标示在百运金服网站或百运金服合作商户之上的，与用户使用百运金服所提供的平台服务、信用消费服务有关的任何规范性文件，以下统称“平台规则”。</p>
                                        <p>2、信用消费服务：指百运金服为符合条件的用户提供的“先发货、后付款”，限于消费用途的授信额度付款方式的服务，“授信额度付款方式”指用户在百运网下单发货时，可依据百运金服运条服务规则及相应流程，享受由百运金服提供的使用授信额度的付款方式。</p>
                                        <p>3、运条：是信用消费服务的营销名称，百运金服有权根据法规和营销推广的实际情况对该名称进行调整。</p>
                                        <p>4、运条授信额度：指百运金服根据用户在本平台提供的资料、历史信用记录和消费状况等因素综合评估确定的，在一定期限内可使用的授信限额，用户可依据本平台规则以及相应要求查询和使用该额度。</p>
                                        <p>5、运条消费：指用户在百运网下单并使用运条额度完成该订单的账单费用支付的行为。</p>
                                        <p>6、运条消费本金：指用户使用运条额度支付的账单对应的金额。</p>
                                        <p>7、消费入账日：指用户在百运金服使用运条额度的每一笔实际交易产生的日期。百运金服将在用户发生交易后即时将交易款项及服务费（如有）计入用户当期账单。消费入账日以百运金服支付结算系统确定的日期为准，用户可以在“运条账单”中查阅。</p>
                                        <p>8、账单日：指用户每个月接收到百运金服发出的本期应还金额的具体日期。若未收到运条账单，用户应当主动、及时查询其账单内容，若用户未在到期还款日前向百运金服提出异议，视同用户已认可全部交易。用户不得以未收到账单为由，拒绝偿还当期应还金额。</p>
                                        <p>9、到期还款日：指用户应该偿还其本期应还金额的最晚日期，以运条服务相关页面实际展示为准。</p>
                                        <p>10、应还金额：指用户累计已逾期和在当月还款日应当偿还的消费本金、利息、逾期罚息、手续费及其他款项（如有）的金额总和。</p>
                                        <p>11、账期：指用户使用运条消费时，自运条消费当日起至到期还款日之间的实际天数。</p>
                                        <p>12、逾期利息：指用户未按本协议约定在到期还款日前支付本期应还金额而导致逾期行为时，百运金服依照本协议约定向用户收取的一定比例的费用。</p>
                                        <p><b>13、运条自动扣费：用户授权在用户开通本服务的同时，将运条增加为百运金服为用户提供的自动扣费的资金渠道之一，可使用本服务作为自动扣费资金渠道的具体服务以百运金服实际向用户提供的为准。用户理解并同意，百运金服有权根据实际情况在提供具体自动扣费服务时决定“运条”在自动扣费资金渠道中的顺位，具体以页面提示或百运金服的相关规则、解释为准。</b></p>
                                    </div>
                                    <div>
                                        <p>第二条 运条服务的申请</p>
                                        <p>1、根据百运金服服务规则及相应流程，信用积分达到百运金服规定的分数，提交实名认证信息并通过百运金服的验证、审核。</p>
                                        <p>2、满足本条约定的用户在仔细阅读本协议内容，同意给予本协议中以加粗字体约定的相应授权并点击接受本协议全部内容后，开通运条服务。</p>
                                    </div>
                                    <div>
                                        <p>第三条 运条服务的使用</p>
                                        <p>（一）服务规则：</p>
                                        <p>1、用户可在运条服务适用范围、可用额度范围内进行消费，并且须在到期还款日完成本期应还金额的支付。</p>
                                        <p><b>2、用户开通运条服务，即表明接受并同意：用户不可撤销地授权百运金服，在订单产生费用账单后，用户账户余额不足的情况下，自动使用运条可用额度对该订单的费用账单进行支付，而无需另行通知您。</b></p>
                                        <p>3、用户理解并同意，由于运条授信额度为百运金服对您初步预测及评估的授信额度，故百运金服并不向用户承诺可完全使用上述最高额度；百运金服可根据对您的信用状况及运营政策随时调整授信额度或停止授信。在系统功能实现的情况下，用户可主动向百运金服申请调整授信额度包括但不限于固定额度、临时额度、专用额度等。</p>
                                        <p>4、运条授信额度的用途：运条的授信额度仅能用于百运金服认可的消费之用，严禁使用运条服务套现。</p>
                                        <p>5、运条账单：百运金服将于每月账单日向用户展示上个自然月运条服务的详情，并通过短信和邮件的方式通知用户，包括但不限于应还金额、到期还款日、消费记录、还款记录等，您可主动至百运金服网站查询运条账单。</p>
                                        <p>6、到期还款：用户应在到期还款日24点前（含当日）清偿全部应还金额，逾期未清偿，百运金服有权暂时停止向用户提供运条服务直至用户清偿所有逾期欠款，并将影响用户的信用。</p>
                                        <p>（二）费用计收规则：</p>
                                        <p>1、逾期利息：用户产生逾期行为时，百运金服有权向用户收取逾期利息，按每日未还清的消费本金的万分之五逐日计收，直至用户按百运金服的要求将应还消费本金和逾期利息清偿完毕。计算公式：逾期利息（日）=逾期未还清的消费本金×万分之五，逾期利息四舍五入精确到分计收。</p>
                                        <p><b>2、用户使用本服务须缴纳的手续费、利息以及逾期利息等收费标准详见 “运条”客户端页面或交易支付页面相应展示。百运金服有权根据业务需要修改或新增费用项目或标准，费用项目或标准修改或新增后将在百运金服网站进行公告；百运金服也有权根据运条用户使用运条服务的情况和综合评估而对不同用户进行差异化定价。若用户不同意修改或新增费用项目或标准或不接受百运金服展示的服务定价，可申请停止使用本服务。</b></p>
                                        <p>（三）还款规则：</p>
                                        <p>1、主动还款：用户可主动登录指定百运金服账户，使用百运金服认可的还款资金来源，根据百运金服认可的还款规则，清偿相应的应还金额。</p>
                                        <p>2、退款还款：用户使用运条服务付款成功后发生退款的，退款金额将用于偿还用户所欠的应还金额。</p>
                                        <p>3、还款顺序：用户对应还金额进行还款时，百运金服将按照实现债权的费用（包括但不限于诉讼费用、律师费用、催收费用等）、逾期利息（如有）、运条消费本金的顺序进行冲抵。百运金服有权根据用户的信用状况和百运金服的风险政策变更前述还款顺序，特别是在还款金额小于用户的应还金额的情况下，而无需另行通知。</p>
                                        <p>4、结算凭证：用户使用运条付款时，用户与百运金服结算的依据是百运金服网站的账单查询结果以及银行对账凭证，后者没有记录而前者有记录的，以前者的查询结果为准；两者存在差异的，以银行对账凭证为准。</p>
                                        <p>5、用户使用本协议约定的运条服务下单并支付成功后，由于各种原因导致用户退件，此种情形下，用户已支付的逾期利息款项，百运金服不再退还。</p>
                                        <p>（四）特别约定：</p>
                                        <p>1、用户承诺使用授信额度的交易背景真实合法。</p>
                                        <p>2、用户应及时登录百运金服账户，查阅还款日、应还金额、待还金额及其明细等信息。</p>
                                        <p>3、百运金服可不时单方面调整可使用运条服务的应用场景、业务类型且无需另行通知您。</p>
                                        <p>4、百运金服可查阅用户的百运金服账户交易信息，包括但不限于与授信额度相关的交易信息，不时重评用户的信用状况，据以单方面调整对用户的授信额度或授信有效期，而无需事先通知。若前述调整导致用户的应还金额的全部或部分提前到期，用户应当及时清偿到期债务。</p>
                                        <p>5、除本协议另有约定外，若用户需要终止运条服务，可向平台客服申请，但运条的所有欠款仍须按百运金服运条服务规则全部清偿。</p>
                                    </div>
                                    <div>
                                        <p>第四条 违约行为及违约处理</p>
                                        <p><b>（一）违约行为</b></p>
                                        <p><b>用户发生下列任一情形，均构成违约：</b></p>
                                        <p><b>1、未按本协议规定按时足额支付应还金额。</b></p>
                                        <p><b>2、向百运金服提供过期、虚假等不真实的信息、或相关信息被百运金服认定为可疑、过期或虚假信息。</b></p>
                                        <p><b>3、出租、转借或以其他方式将相关账户、密码、身份证信息、手机号码、银行卡信息、地址、邮箱等信息交由用户之外任何其他第三方使用的。</b></p>
                                        <p><b>4、以非法套现、非法获取不正当利益为目的，通过非法、不正当操作或与非法商户、非法中介组织、其他第三方等串通合作，违反百运金服运条服务规则及各项管理规定、被百运金服通过风险监测、风险管理方式进行识别、或百运金服以其他合法合规方式获取用户以本条方式进行非法套现情形的。</b></p>
                                        <p><b>5、用户的信用情况出现其他重大不利变化导致用户无法继续按时足额支付应还金额的情形。</b></p>
                                        <p><b>6、用户被宣告失踪、宣告死亡、处于限制民事行为能力或丧失民事行为能力状态、被刑事监禁、或用户发生重大疾病、重大事故等可能影响付款能力的情况而没有及时通知百运金服、并继续使用运条服务的。</b></p>
                                        <p><b>7、用户违反本协议约定的其他情形或被百运金服认定用户存在违约行为的其他情形。</b></p>
                                        <p><b>（二）违约救济</b></p>
                                        <p><b>如用户出现上述违约情形，或违背本协议项下其他任何义务、陈述、保证或承诺的，百运金服有权采取下列一项或多项措施，包括但不限于：</b></p>
                                        <p><b>1、调整或取消用户的运条授信额度。</b></p>
                                        <p><b>2、对用户的交易采取订单拦截、用户资料、用户信息核实、要求用户提供相关材料等方式。</b></p>
                                        <p><b>3、要求用户纠正违约行为并向百运金服提供相关信息材料。</b></p>
                                        <p><b>4、有权宣布本协议项下未支付的应付款项提前到期，并要求用户提前支付全部应还金额。</b></p>
                                        <p><b>5、单方面终止为用户提供的运条服务和平台下单服务。</b></p>
                                        <p><b>6、以合法手段追偿应还金额（包括但不限于委托债务催讨公司、律师事务所等其他第三方机构代为追讨，申请相关部门进行调查、向法院提起诉讼等），由此引起的一切费用由用户承担。</b></p>
                                        <p><b>7、在媒体（包括而不限于电视、报纸、网站等公开媒体和百运金服网站、客户端、微信公众号等）上公布用户的个人基本信息、债务信息、信用信息等内容。</b></p>
                                        <p><b>8、根据法律法规或本协议约定有权采取的其他违约救济措施。</b></p>
                                        <p><b>用户在此同意，在百运金服进行违约救济时，百运金服有权采取其他相关救济措施进行追讨，包括使用或授权第三方查询、索取、留存和使用用户的信用状况、财务状况、其他与评定用户授信额度及付款能力有关的个人信息等方式进行违约救济；百运金服有权使用或授权第三方使用用户个人信息对违约欠款进行追偿。</b></p>
                                    </div>
                                    <div>
                                        <p>第五条 权利和义务</p>
                                        <p>（一）用户的权利和义务：</p>
                                        <p>1、有权要求百运金服对用户提供的有关信息予以保密，但法律法规另有规定、用户予以授权、或本协议另有约定的除外。</p>
                                        <p>2、享有百运金服对运条服务所承诺的各项服务，有权监督服务质量，并对不符合质量的服务进行投诉。</p>
                                        <p>3、有权知悉运条服务的功能、使用方法，收费项目、收费标准、适用费率及相关的计算规则。</p>
                                        <p>4、向百运金服提供真实、有效的资料。如迁往异地、工作变动、通讯地址及电话变更、单位名称变更、电子邮箱或身份证件号码变更等，应及时通知百运金服，包括但不限于登陆账户修改、书面通知、在线或电话联系客服等。</p>
                                        <p>5、仔细阅读并充分理解本协议、重要提示及其他所有相关资料和文件，并持续关注百运金服通过网站等方式向用户公示的协议修订，以及对上述资料和文件的修改和变更。</p>
                                        <p>6、用户应妥善保管本人的账户名、登录密码、支付密码、绑定的手机号码、手机校验码等与百运金服有关的一切信息。用户应确保不向其他任何人泄露账户信息和密码。对于因密码泄露所致的损失，由用户自行承担。如用户发现有他人冒用或盗用本人账户及密码或任何其他未经合法授权之情形时，应立即以有效方式通知百运金服，要求其暂停相关服务。同时，用户理解百运金服对相应的请求采取行动需要合理期限，在此之前，百运金服对已执行的指令及（或）所导致的用户损失不承担任何责任。</p>
                                        <p><b>7、用户不得以出租、转借或以其他方式将相关账户、密码、身份证信息、手机号码、银行卡信息、地址、邮箱等信息交由任何其他第三方使用，否则由此导致的损失及相关后果由用户承担。</b></p>
                                        <p>8、用户不得以非法套现、非法获取不正当利益为目的，通过非法、不正当操作或与非法商户、非法中介组织、其他第三方等串通合作，违反百运金服运条服务规则及各项管理规定，否则由此导致的损失及相关后果由用户承担。</p>
                                        <p>9、用户应按时支付运条服务项下的应还金额（包括但不限于运条消费本金、逾期利息等），不得以商品纠纷、未收到提醒为由拒绝支付运条服务项下的应还金额。</p>
                                        <p>10、按照百运金服制订并公布的收费标准支付服务费及其他费用。</p>
                                        <p>11、用户声明在接受本协议时本人不存在任何违反法律、法规与规章的行为或情形；若用户的上述声明虚假或者上述承诺未被履行，或者用户可能发生违法违规风险，百运金服有权提前终止本服务或采取本协议约定或法律允许的其他救济措施。</p>
                                        <p>（二）百运金服的权利和义务：</p>
                                        <p>1、对不遵守有关法律法规、本协议等规定的用户（包括但不限于用户未在规定期限内支付应还金额的）或者百运金服有理由认为用户不再符合运条使用条件时，百运金服有权基于合理怀疑拒绝用户继续使用授信额度付款方式进行付款，并由百运金服网站将本条第3项中规定方式提醒客户，如客户在合理期限内未向百运金服提供充分证据以消除该等合理怀疑的，百运金服有权提前暂停运条服务而不必事先通知用户本人。用户对百运金服停止其运条服务的使用有异议的，需要按照百运金服的要求，依据百运金服所提供的客户服务等方式向百运金服提供充分证据以消除该等合理怀疑，具体异议提出方式及解决方式以平台规则约定为准。</p>
                                        <p>2、为有针对性地向用户提供新的服务、机会以及优惠信息等，用户了解并同意百运金服依据用户在百运金服网站已经认可的促销信息推送方式（包括但不限于电子邮件、站内消息和手机短信等）向用户通知这些信息。</p>
                                        <p>3、百运金服有权通过信函、短信、电子邮件、电话、上门或司法途径等方式向用户催收应还金额。用户同意百运金服有权授权第三方通过手机短信、站内信、电话提醒、上门外访和寄送信函等方式，督促用户按时支付所有应还金额，包括但不限于运条消费本金、逾期利息等，其中手机短信、站内信、微信在发出时即视为送达。</p>
                                        <p>4、百运金服保留对用户收取费用的权利，且有权在有关法律法规允许的范围内，结合授信额度付款和业务发展等实际情况，维护和更新授信额度付款服务的适用范围、各项使用功能、服务范围和收费标准，并通过网站公告等方式及时通知用户。</p>
                                        <p><b>5、百运金服有权根据相关适用法律，将在运条服务关系建立和存续期间获得的用户的个人基本信息、债务信息、信用信息（即适用法律规定的对乙方信用状况的客观状态）等有关信息提供给相关政府管理部门、行业监督管理机构或其他合法设立的征信管理机构等。</b></p>
                                        <p>6、百运金服有义务接受用户对于授信额度付款方式付款相关信息的查询服务，将向用户通过百运金服网站（公告方式）、电子邮件、手机短信等向用户公示运条产品和服务、重要提示、服务协议、计费标准等信息。</p>
                                        <p>7、百运金服有建立针对授信额度付款服务的公平、有效的投诉制度的义务，并公开投诉程序和投诉电话。对用户关于账务情况的查询和改正要求给予答复。</p>
                                        <p>8、百运金服将根据行业规则、国家相关法律法规及业务发展情况为用户提供相关的优惠活动或服务，活动或服务规则以届时百运金服相关页面公布的内容为准。</p>
                                        <p>9、百运金服对用户的个人基本信息、债务信息、信用信息有权予以保留，百运金服对该等信息负有保密的义务，除根据相关法律法规、本协议的相关约定、或出于为用户提供更好的运条服务之目的、需将用户信息进行对外提供的情形之外，未经用户允许，百运金服不得擅自将用户信息披露或提供给其他第三方。</p>
                                        <p><b>10、百运金服根据运条服务管理制度、风险管理规定、相关法律法规要求等，从用户的授信额度付款金额、收货地址、联系方式等方面进行综合判断后如认为用户存在交易异常、个人信息异常等情形时，百运金服可中止或调整向用户提供授信额度付款服务；为保障用户的交易安全，百运金服有权要求用户提供相关材料或要求用户配合百运金服其他风控措施供百运金服核实验证，如用户拒绝相应材料或拒绝配合百运金服的风控措施，导致百运金服无法核实交易正常，则百运金服有权对用户的订单采取交易拦截等方式，并可中止、终止向用户提供运条服务和下单服务。</b></p>
                                        <p>11、为了充分保护用户的账户安全，当用户访问百运金服网站及其相关网站或使用百运金服提供的服务时，系统会记录用户操作的相关信息，这些信息可帮助我们更好地识别用户的身份以及保护用户的账户安全，例如用户的账户在可疑操作环境下登录的，系统可能监控到账户存在风险，采取一些措施避免资金损失。</p>
                                        <p>12、通知：针对用户的运条账单、运条还款成功等通知消息，百运金服将通过短信或邮件等方式通知用户。</p>
                                    </div>
                                    <div>
                                        <p>第六条 免责条款</p>
                                        <p>（一）百运金服及与提供运条服务相关平台的信息系统出现下列任一状况而无法正常运作，致使无法向用户提供本协议项下的各项服务，百运金服不承担任何违约或赔偿责任，该状况包括但不限于：</p>
                                        <p>1、在服务网站维护期间；</p>
                                        <p>2、电信设备出现故障不能进行数据传输的；</p>
                                        <p>3、因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成系统障碍不能执行业务的；</p>
                                        <p>4、由于黑客攻击、电信部门和其他百运金服有信息技术依赖的相关部门、企事业单位技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。</p>
                                        <p>（二）本协议有效期内，因国家相关主管部门颁布、变更的法令、政策导致百运金服或提供运条服务相关平台不能提供约定服务的，不视为其违约，各方可根据相关的法令、政策变更协议内容或提前终止本协议，在此情况下，用户已经使用运条服务而尚未到期或偿还的任何款项（包括服务费和其他费用），视为立即到期，用户应立即归还，否则百运金服仍有权按照本协议的约定采取合理的救济措施。</p>
                                    </div>
                                    <div>
                                        <p>第七条 协议变更、解除、终止和权利义务的转让</p>
                                        <p>（一）协议变更与解除</p>
                                        <p>1、百运金服有权随时单方面修改本协议中与用户之间相关的权利义务，并及时以公告的方式通知用户。若用户不同意修改本协议，则应当立即停止使用运条服务并全额支付本协议项下全部应还金额，包括但不限于运条消费本金、逾期利息等；否则，视为用户同意并接受修改后的协议。</p>
                                        <p>2、经修订的协议一经通知，立即自动生效。一旦用户继续使用信用付款服务即被视为用户已接受了修改后的协议内容；如用户不同意相关变更，应自前述通知发出之日起停止使用服务并在百运金服要求的期限内支付全部应还金额，包括但不限于运条消费本金、逾期利息等。</p>
                                        <p>3、本协议生效后，除本协议另有约定外，用户不得要求单方擅自变更或解除本协议。百运金服有权基于自身经营考虑，因任何理由随时宣布中断、终止本协议或其任何部分，并要求用户在指定期限内支付本协议项下全部应还金额，包括但不限于运条消费本金、逾期利息等。</p>
                                        <p><b>（二）用户在使用运条服务的过程中，如果有下列情形发生，用户同意百运金服有权终止提供服务，用户应立即支付所有到期和未到期的应还金额，包括但不限于运条消费本金、逾期利息等：</b></p>
                                        <p><b>1、用户个人百运金服账户被注销。</b></p>
                                        <p><b>2、冒用他人名义、盗用他人账户使用运条服务。</b></p>
                                        <p><b>3、用户违反本协议约定导致本协议第四条约定的违约情形出现的。</b></p>
                                        <p>4、从事司法机构、监管机构等认为违法违规的消费行为，或运条服务提供方认定的不适当消费行为。</p>
                                        <p>5、除上述原因外，百运金服有权根据风险及自身业务运营情况需要随时中止（终止）向用户提供运条服务，因此导致用户无法使用服务或服务受到限制的，不视为运条服务提供方违约，在此情况下，用户已经使用运条服务而尚未到期或偿还的任何款项（包括服务费和其他费用），视为立即到期，用户应立即归还。</p>
                                        <p>（三）协议权利义务的转让未经运条服务提供方书面同意，用户不得将本协议项下的权利和义务转让给任何第三方。</p>
                                    </div>
                                    <div>
                                        <p>第八条 附则</p>
                                        <p><b>（一）因本协议引起的或与本协议有关的争议，百运金服可与用户协商解决。协商不成的，任何一方均有权提起诉讼，并以百运金服住所地有管辖权的人民法院作为解决争议的管辖法院。</b></p>
                                        <p>（二）本协议未尽事宜，以相关法律法规及《百运金服服务条款》和平台规则约定为准。</p>
                                    </div>
                                </div>
                            </div>
                            <div class="agreeButton" @click="toggleAgreementModal">同意并继续</div>
                        </div>
                    </div>
                </div>
                <p><button class="signBtn" @click="paramVerify">同意协议并注册</button></p>

            </div>

        </div>
        <div style="background-color: #f4f5f7;height: 110px;text-align: center;">
            <span style="opacity: 0.7;font-family: 'Microsoft YaHei';font-size: 14px;text-align: left;color: #000000;position: relative;top: 50px;">©2017  深圳市百运科技有限公司 版权所有  粤ICP备14023066号-1</span>
        </div>
    </div>
    <div id="cover" class="tips" v-show="msgboxFlag">
        <el-alert :title="msgText" :type="msgType" show-icon></el-alert>
    </div>

<script type="text/javascript" src="../js/load.js"></script>
<script type="text/javascript">
    load('register');
</script>
</body>
</html>